Source: cockpit-iptv
Section: utils
Priority: optional
Maintainer: snowlyg <569616226@qq.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://www.snowlyg.com
Vcs-Git: https://github.com/chindeo/cockpit-iptv.git
Vcs-Browser: https://github.com/chindeo/cockpit-iptv.git 

Package: cockpit-iptv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A short description
 A long description,
 very long indeed!
